@font-face {
    font-family: 'WickedMouse';
    /* src: url('../public/fonts/WickedMouse.otf') format('opentype'); */
    src: url('../../../public/fonts/WickedMouse.otf') format('opentype');
  }
body {
    font-family: Arial, sans-serif;
    background-color: #FDBA0D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.header {
    font-family: 'WickedMouse';
    text-align: center;
    font-size: 45px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #FDBA0D;
    z-index: 1000;
}
.signup-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 350px;
    padding: 30px;
}

.signup-container h1 {
    text-align: center;
    color: #FDBA0D;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #FDBA0D;
    border: none;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #e3a307;
}